version: "3"
services:
  mitre-siphon:
    image: ghcr.io/curium-rocks/mitre-siphon:latest
    ports:
      - "8080:8080"
      - "443:443"
      - "80:80"
    depends_on:
      - postgres
      - kafka
  postgres:
    image: "postgres"
    env_file:
      - database.env
    volumes:
      - database-data:/var/lib/postgresql/data/
    ports:
      - "5432:5432"
  kafka:
    image: confluentinc/cp-kafka:7.6.2
    ports:
      - "9092:9092"
    environment:
      - KAFKA_BROKER_ID=1
      - KAFKA_ZOOKEEPER_CONNECT=zookeeper:2182
      - KAFKA_LISTENER_SECURITY_PROTOCOL_MAP=PLAINTEXT:PLAINTEXT,PLAINTEXT_HOST:PLAINTEXT
      - KAFKA_ADVERTISED_LISTENERS=PLAINTEXT://kafka:29094,PLAINTEXT_HOST://kafka:9092
      - KAFKA_LISTENERS=PLAINTEXT://0.0.0.0:29094,PLAINTEXT_HOST://0.0.0.0:9092
      - KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR=1
    depends_on:
      - zookeeper
  zookeeper:
    image: confluentinc/cp-zookeeper:7.6.1
    ports:
      - "9182:2182"
    environment:
      - ZOOKEEPER_CLIENT_PORT=2182
volumes:
  database-data:
